.admin-cards {
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .admin-card {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Ajuste para evitar scroll general innecesario */
  .layout-main {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
  }
  .panel-derecho {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
  }
  
  /* admin.css */
  .p-confirm-dialog .p-dialog-content {
    font-size: 0.95rem;
  }
  
  .p-confirm-dialog .p-dialog-footer .p-button {
    min-width: 6rem;
  }
  