.navbar {
  color: var(--color-text-white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-menu .p-menuitem-link {
  color: var(--color-text-white) !important;
  font-size: 1rem;
}

.navbar-menu .p-menuitem-link:hover {
  background: var(--color-btn-primary);
}
